<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>First Server</title>
    </head>
    <body>
        <%- include ('partials/navigations.ejs') -%>	
        <H1>Ahora si baby</H1>
    </body>
</html>